{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    <title>Website - Estacionamento</title>
</head>
<body>    
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Estacionamento 24 Horas</h1>
                <span>Security in first time</span>
            </div>
            <div class="col-6 img-right">
                <img src="{% static 'img/logo.png' %}" alt="Estacionamento 24 horas">
            </div>
        </div>

        {% include "website/menu.html" %}

        {% block main %}
        {% endblock main %}

        {% include "website/footer.html" %}
        
    </div>
</body>
</html>
