{% load static %}

<div class="row row-space">
    <div class="col-3">
        <nav class="nav flex-column">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Servicos</a>
            <a class="nav-link" href="#">Planos</a>
            <a class="nav-link" href="#">Contato</a>
          </nav>
    </div>
    <div class="col-6">
        <p class="footer-website">Copyright - Todos os direitos reservados | Desenvolvido por Teodoro Tec</p>
    </div>
    <div class="col-3"></div>
</div>