{% extends "website/base.html" %}
{% load static %}

{% block main %}
    <div class="row row-space">
        <div class="col-8">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id of
                ficia eius iusto eos labore fuga similique reprehenderit! Ducim
                us voluptatum, quisquam facere cumque, quasi id doloremque repu
                diandae incidunt eum porro sint!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facil
                is, quo. Quibusdam repudiandae, at quasi odit sint incidunt ali
                quam eum veniam! Laudantium saepe hic ipsum nesciunt nam ex in 
                id odio.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sint
                sit dolore exercitationem vero totam maiores ipsa cumque asperi
                ores quibusdam ipsam facere deserunt quos at nihil blanditiis h
                arum, debitis incidunt!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere,
                praesentium? Harum accusantium cum aliquid dolores perspiciatis,
                minus laboriosam veritatis accusamus ut dolor quidem minima, et
                impedit natus repudiandae. Voluptatum, porro.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio b
                eatae nemo sit quae tempora dolorum debitis? Voluptate ea ipsa, 
                obcaecati atque quasi accusamus accusantium laboriosam? Optio mag
                nam ex eaque facere.
            </p>            
        </div>
        <div class="col-4 img-right">
            <img src="{% static 'img/parking.png' %}" alt="Planos de contratacao">
        </div>

        <div class="col-12 img-right">
            <button type="submit" class="btn btn-primary btn-lg">Contratar</button>
        </div>        

        <div class="col-8 row-space">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id of
                ficia eius iusto eos labore fuga similique reprehenderit! Ducim
                us voluptatum, quisquam facere cumque, quasi id doloremque repu
                diandae incidunt eum porro sint!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facil
                is, quo. Quibusdam repudiandae, at quasi odit sint incidunt ali
                quam eum veniam! Laudantium saepe hic ipsum nesciunt nam ex in 
                id odio.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sint
                sit dolore exercitationem vero totam maiores ipsa cumque asperi
                ores quibusdam ipsam facere deserunt quos at nihil blanditiis h
                arum, debitis incidunt!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere,
                praesentium? Harum accusantium cum aliquid dolores perspiciatis,
                minus laboriosam veritatis accusamus ut dolor quidem minima, et
                impedit natus repudiandae. Voluptatum, porro.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio b
                eatae nemo sit quae tempora dolorum debitis? Voluptate ea ipsa, 
                obcaecati atque quasi accusamus accusantium laboriosam? Optio mag
                nam ex eaque facere.
            </p>
        </div>

        <div class="col-4 img-right row-space">
            <img src="{% static 'img/parking.png' %}" alt="Planos de contratacao">            
        </div>

        <div class="col-12 img-right">
            <button type="submit" class="btn btn-primary btn-lg">Contratar</button>
        </div>  
    </div>
{% endblock main %}