{% extends "website/base.html" %}
{% load static %}

{% block main %}
<div class="row row-space">
    <div class="col-12">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque rem 
        nostrum ea modi in ab dolorem, soluta cupiditate. Rerum, placeat sit.
         Adipisci, aperiam nam provident consequuntur minus mollitia nesciunt
          sint!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, dolor
         debitis accusantium architecto necessitatibus adipisci provident, re
         m nisi sint eaque reiciendis sapiente, ducimus officia atque ut. Eos
          delectus a minus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam fa
        cilis accusamus enim voluptatem rerum blanditiis eos dolor? Temporibus
         eius at, obcaecati sed, quis provident voluptatum tempore asperiores 
         reprehenderit nobis quae
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dolor
        emque ipsam voluptatum dolorum vel quis, vero sint explicabo illo blan
        ditiis eius natus a eligendi quae porro, modi dignissimos sed suscipit?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint ipsam r
        eprehenderit autem obcaecati, aut enim debitis magni magnam nostrum ab
         et nam. Aliquam consequatur consequuntur totam ullam in nisi providen
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitatione
        m quidem cum aspernatur quod deleniti similique quos, eligendi incidun
        t tempora laboriosam in delectus quaerat provident! Non corporis quod 
        illum aperiam eligendi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliqu
        am, porro pariatur at consequatur officiis mollitia doloribus odio, eo
        s a reprehenderit maxime, deleniti aspernatur perspiciatis! Eaque non 
        quam esse dolorem?
    </div>
    <div class="col-6 row-space">
        <img src="{% static 'img/logo.png' %}" alt="Servicos estacionamento 24 horas">
        <img src="{% static 'img/logo.png' %}" alt="Servicos estacionamento 24 horas">
    </div>
    <div class="col-6 row-space">
        <img src="{% static 'img/parking.png' %}" alt="Servicos estacionamento 24 horas">
        <img src="{% static 'img/parking.png' %}" alt="Servicos estacionamento 24 horas">
    </div>
</div>    
{% endblock main %}