{% extends "website/base.html" %}
{% load static %}

{% block main %}
    <div class="row row-space">
        <h2>Sobre a nossa História</h2>
        <div class="col-12">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni animi cumque totam debitis tempore, vitae magnam maiores quasi unde odio. Doloremque voluptates natus nisi cupiditate saepe sequi earum itaque iure?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa autem voluptatibus quidem atque velit sunt. Explicabo voluptas obcaecati possimus blanditiis consectetur! Sint eligendi a quasi! Ipsam recusandae facere aut reprehenderit.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio pariatur asperiores nulla dicta nostrum tempore distinctio, quae blanditiis temporibus soluta porro adipisci hicat aperiam natus, nemo reiciendis a ipsum!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum laborum porro, alias molestiae, repellat non vel magnam temporibus nostrum, mollitia voluptatem nam fugiat eligendi explicabo doloremque quasi vero laboriosam velit?        
            </p>
        </div>
        <div class="col-7">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur nam necessitatibus tempora deleniti officia tenetur vitae quasi velit incidunt, maiores repudiandae rerum eos consequatur cupiditate nobis doloremque ea laudantium voluptatum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur perferendis, libero cupiditate ratione magnam ullam eos odit deserunt, perspiciatis eius totam doloremque eligendi voluptatibus dignissimos illum. Quam quibusdam enim architecto.
            </p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore harum incidunt porro magni quisquam ipsum, cumque sapiente obcaecati eum, reiciendis accusantium doloremque soluta debitis sunt aut ducimus cupiditate repellat! Laborum?
            </p>
        </div>
        <div class="col-5">
                <img src="{% static 'img/logo.png' %}" alt="Estacionamento 24 horas">
                <img src="{% static 'img/parking.png' %}" alt="Estacionamento 24 horas">
        </div>     
        
    </div>
{% endblock main %}