{% extends "base.html" %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'core:core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Servicos</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'core:core_lista_pessoas' %}">Pessoas</a></li>
            <li><a class="dropdown-item" href="{% url 'core:core_lista_veiculos' %}">Veiculos</a></li>
            <li><a class="dropdown-item" href="{% url 'core:core_lista_movrotativos' %}">Rotativo</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'core:core_lista_mensalistas' %}">Mensalistas</a></li>
        </ul>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
        </li>
    </ul>
{% endblock menu %}

{% block main %}
    {{ mensagem }}
{% endblock main %}

