{% extends "base.html" %}
{% load bootstrap %}

{% block menu %}
<ul class="nav nav-tabs">
    <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'core:core_home' %}">Home</a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Servicos</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'core:core_lista_pessoas' %}">Pessoas</a></li>
        <li><a class="dropdown-item" href="{% url 'core:core_lista_veiculos' %}">Veiculos</a></li>
        <li><a class="dropdown-item" href="{% url 'core:core_lista_mensalistas' %}">Mensalistas</a></li>            
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item active" href="{% url 'core:core_lista_movrotativos' %}">Mov Rotativo</a></li>            
        <li><a class="dropdown-item" href="{% url 'core:core_lista_movmensalistas' %}">Mov Mensalistas</a></li>
    </ul>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Logout</a>
    </li>
</ul>
{% endblock menu %}

{% block main %}

    <div class="row">
        <div class="col">
            <h2>Lista Movimentos Rotativos</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <form action="{% url 'core:core_movrotativos_novo' %}" method="POST">
                {% csrf_token %}
        
                {{ form|bootstrap }}
        
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
        
        <div class="col-sm-6">
            <ul>
                {% for mov in mov_rot %}
                    <li>
                        <a href="{% url 'core:core_movrotativos_update' mov.id %}">
                            {{ mov.checkin }} - {{ mov.veiculo.placa }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock main %}
