{% extends "base.html" %}
{% load bootstrap %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'core:core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Servicos</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item active" href="{% url 'core:core_lista_pessoas' %}">Pessoas</a></li>
                <li><a class="dropdown-item" href="{% url 'core:core_lista_veiculos' %}">Veiculos</a></li>
                <li><a class="dropdown-item" href="{% url 'core:core_lista_mensalistas' %}">Mensalistas</a></li>            
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'core:core_lista_movrotativos' %}">Mov Rotativo</a></li>            
                <li><a class="dropdown-item" href="{% url 'core:core_lista_movmensalistas' %}">Mov Mensalistas</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
        </li>
    </ul>
{% endblock menu %}

{% block main %}
    
    <div class=row>        
        <div class="col-sm-6">
            <h2>Formulario de cadastro</h2>            
            <form action="{% url 'core:core_pessoa_novo' %}" method="POST">
                {% csrf_token %}
        
                {{ form|bootstrap }}
        
                <button type="submit" class="btn btn-primary">Cadastrar</button>    
            </form>
        </div>

        <div class="col-sm-6">
            <h2>Pessoas cadastradas</h2>
            <table class="table caption-top">
                <caption>List of people</caption>
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Endereco</th>
                        <th scope="col">Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pessoa in pessoas %}
                        <tr>
                            <th scope="row">{{ pessoa.id }}</th>
                            <td>{{ pessoa.nome }}</td>
                            <td>{{ pessoa.endereco }}</td>
                            <td>{{ pessoa.telefone }}</td>
                        </tr>    
                    {% endfor %}                                  
                </tbody>
            </table>
        </div>        
    </div>    

{% endblock main %}


