{% extends "base.html" %}
{% load bootstrap %}

{% block main %}
    <div calss="row">
        <div class="col">
            <h2>Listagem veículos</h2>
        </div> 
    </div> 

    <div class="row">        
        <div class="col-sm-6">
            <form action="{% url 'core:core_veiculo_novo' %}" method="POST">
            {% csrf_token %}
    
            {{ form|bootstrap }}
    
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
        <div class="col-sm-6">
            <ul>
                {% for veiculo in veiculos %}
                    <li>
                        <a href="{% url 'core:core_veiculo_update' veiculo.id %}">
                            {{ veiculo.placa }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock main %}